
/*------------ ION ---------------*/

ion-content{
    --padding-top: 3rem;
    --background: var(--ion-color-light);
}

ion-button{
    --ion-color-contrast: var(--ion-color-primary) !important;
}

ion-button:hover{
    --ion-color-base: var(--ion-color-light) !important;
    --ion-color-contrast: var(--ion-color-primary) !important;
    --box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

ion-card-title{
    color: var(--ion-color-primary);
}

ion-card-subtitle{
    color: var(--ion-color-primary);
}


/*--------------------------------*/


/*------------ ENTIRE PAGE ---------------*/

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------*/


/*------------ PERSONAL CARD ---------------*/

#svg{
    height: 40px;
    //z-index: -2;
}

#greeting{
    position: relative;
    color: var(--ion-color-primary);
    font-weight: bold;
    //z-index: 4;
    padding-left: 80px;
    
}

#hi{
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 8%;
}

#personal-header{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 74px;
    padding-top: 0px;
}

#personal-title{
    font-size: xx-large;
}

#personal-subtitle{
    margin-top: 0px;
    font-size: large;
}

#card-right{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

#card-left{
    //padding-top: 40px;
    height: 250px;
}


#info-list{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    margin-left: 66px;
    margin-top: 20px;
}

.category{
    font-weight: bold;
    font-size: 12px;
    color: var(--ion-color-primary);
    grid-column-end: 2;
    padding: 8px;
    
}

.info{
    grid-column-start: 2;
    padding: 8px;
    color: var(--ion-color-secondary);
    font-size: 15px;
}

#cat-social{
    color: var(--ion-color-light);
}

.social-butts{
    justify-self: center;
    align-self: center;
    margin-left: 22px;
    margin-right: 22px;
    --webkit-transition-shadow: none !important;
    --box-shadow: none !important;
    --background-hover: var(--ion-color-primary);
}

#personal-bottom{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-row-start: 2;
    background-color: var(--ion-color-primary);
    width: auto;
    
}

#personal-top{
    display: grid;
    grid-template-columns: 30% 70%;
    height: auto;
    width: auto;
    
    padding-top: 50px;
    padding-left: 80px;
}

.personal-card{
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 83% 17%;
    grid-row-gap: 0px;

    height: 400px;
    width: 850px !important;
    align-self: center;
}


/*----------------------------------------*/

/*--------------- DOWNLOAD ---------------*/

#download-text{
    padding-left: 15px;
}

#download-resume{
    align-self: center;
    margin: 3rem;
    width: 250px;
    height: 50px;
}

/*-----------------------------------------*/


/*--------------- ABOUT---------------*/

#about{
    align-self: center;
    text-align: center;
    line-height: 1.75;
    width: 800px;
    height: 100px;
    font-size: 17px;
}

/*-----------------------------------------*/

/*--------------- SKILLS ---------------*/
#tags{
    color: var(--ion-color-primary);
    background-color: var(--ion-color-light);
}

/*-----------------------------------------*/

/*--------------- TIMELINE---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.timeline-box{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: var(--ion-color-light);
}

.timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
    list-style: none;
}

.timeline ul li{
    background-color: var(--ion-color-light);
    border-radius: 10px;
    margin-bottom: 20px;
   
}

.timeline ul li:last-child{
    margin-bottom: 0;
}

.timeline-content h1{
    font-size: 25px;
    font-weight: bold;
}

.timeline-content p{
    font-size: 16px;
    line-height: 30px;
}

@media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: var(--ion-color-primary);
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color:var(--ion-color-primary);
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color:var(--ion-color-secondary);
    }
}

/*---------------------------------------*/

.section-title{
    align-self: center;
    font-size: xx-large;
    margin-top: 40px;
}

.section{
    align-self: center;
    margin-top: 25px;
}



