

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">What's this</ion-title>
      </ion-toolbar>
    </ion-header>
  
  <div class="container">

    <!----- PERSONAL CARD ----->
    <ion-card class="personal-card">

      <div id="personal-top">
        <div id="card-left">
          <img id="personal-img" src="../../assets/images/m4.jpg">
        </div>

        <div id="card-right">
          <div id="greeting">
            <img  id="svg" src="../../assets/svgs/speech-bubble.svg">
            <div id="hi">Hi</div>
          </div>

          <ion-card-header id="personal-header">
            <ion-card-title id="personal-title"> I'm <span style="font-weight:bold"> Annah Ramones </span></ion-card-title>
            <ion-card-subtitle id="personal-subtitle"> Doer of nothings</ion-card-subtitle>
          </ion-card-header>

          <div id="info-list">

            <div class="category">AGE</div>
            <div class="info">26</div>
            

            <div class="category">EMAIL</div>
            <div class="info">annahworks@gmail.com</div>

            <div class="category">LOCATION</div>
            <div class="info">Southern California</div>

            <div class="category">EDUCATION</div>
            <div class="info">Physics BS, Cal Poly Pomona</div>

          </div>

        </div>
      </div>
      
      <div id="personal-bottom">

        <ion-button class="social-butts">
          <ion-icon slot="icon-only"  name="logo-linkedin"></ion-icon>
        </ion-button>

        <ion-button class="social-butts">
          <ion-icon slot="icon-only" name="logo-github"></ion-icon>
        </ion-button>

        <ion-button class="social-butts">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button class="social-butts">
          <ion-icon slot="icon-only" name="logo-reddit"></ion-icon>
        </ion-button>

      </div>
    </ion-card>
    <!------------------------->

    <!--------- DOWNLOAD -------->
    <ion-button id="download-resume" size="medium" color="light">
      <ion-icon name="download" size="large"></ion-icon> 
      <div id="download-text">DOWNLOAD RESUME</div>
    </ion-button>
    <!--------------------------->

    <!---------- ABOUT ---------->
    <div id="about">
      Hello! I’m Robert Smith. Senior Web Developer specializing in front end development. 
      Experienced with all stages of the development cycle for dynamic web projects. 
      Well-versed in numerous programming languages including JavaScript, SQL, and C. 
      Stng background in project management and customer relations.
    </div>
    <!--------------------------->

    <!------------------- SKILLS ------------------>
    <div class="section-title">
      Skills
    </div>

    <div style="text-align:center">
      <star-rating value="4.5" [totalstars]="5" checkedcolor="primary" uncheckedcolor="black" size="24px" readonly="true"></star-rating>
    </div>

    
    <!--------------------------------------------->

    <!---------- PROFESSIONAL EXPERIENCE ---------->
    <div class="section-title">
      Professional Experience
    </div>

    <section id=timeline>
    
      <div class="demo-card-wrapper">
        <div class="demo-card demo-card--step1">
          <div class="head">
            <div class="number-box">
              <ion-icon name="hardware-chip" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Technology</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            
          </div>
        </div>
    
        <div class="demo-card demo-card--step2">
          <div class="head">
            <div class="number-box">
              <ion-icon name="logo-apple" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Confidence</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            
          </div>
        </div>
    
        <div class="demo-card demo-card--step3">
          <div class="head">
            <div class="number-box">
              <ion-icon name="triangle" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Adaptation</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
            
          </div>
        </div>
    
        <div class="demo-card demo-card--step4">
          <div class="head">
            <div class="number-box">
              <ion-icon name="medkit" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Consistency</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>     
          </div>
        </div>
    
        <div class="demo-card demo-card--step5">
          <div class="head">
            <div class="number-box">
              <ion-icon name="laptop" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Conversion</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          </div>
        </div>

        <div class="demo-card demo-card--step6">
          <div class="head">
            <div class="number-box">
              <ion-icon name="library" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Conversion</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          </div>
        </div>

        <div class="demo-card demo-card--step6">
          <div class="head">
            <div class="number-box">
              <ion-icon name="planet" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Conversion</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          </div>
        </div>

        <div class="demo-card demo-card--step6">
          <div class="head">
            <div class="number-box">
              <ion-icon name="earth" slot="start"></ion-icon>
            </div>
            <h2><span class="small">Subtitle</span> Conversion</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
          </div>
        </div>
        
      </div>
    </section>
    <!--------------------------------------------->

    <!---------- EDUCATION ---------->
    

    <!------------------------------->


    

  </div>

  </ion-content>