

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  
  <ion-card id="personal-card">

    <div id="card-left">
      <ion-grid>

        <ion-row>
          <img height="245vh" width="250vw" src="../../assets/images/me.jpg">
        </ion-row>

        <ion-row>
          <ion-button size="medium" color="light">
            <ion-icon name="download"></ion-icon> DOWNLOAD RESUME
          </ion-button>
        </ion-row>

      </ion-grid>
    </div>


    <div>

      <ion-card-header id="personal-header">
        <ion-card-title> Hi, I'm Annah</ion-card-title>
        <ion-card-subtitle id="personal-subtitle"> doer of nothings</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Hi, I like doing things. I do a lot of things but I also do a little things,
        I'm sleepy right now. 
      </ion-card-content>

      <ion-card-content>
        <ion-grid>

          <ion-row>
            <ion-col>
              <div>Age</div>
            </ion-col>
            <ion-col>
              <div>26</div>
            </ion-col>
            
            <ion-col>
              <div>Location</div>
            </ion-col>
            <ion-col>
              <div>Southern California</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div>Education</div>
            </ion-col>
            <ion-col>
              <div>Physics, BS</div>
            </ion-col>

            <ion-col>
              <div>
                Category
              </div>
            </ion-col>
            <ion-col>
              <div>
                Generic
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <div>
              Social Links
            </div>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-icon name="logo-linkedin"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </div>
    
  </ion-card>

  
  </ion-content>