ion-content{
    --padding-top: 3rem;
    --background: var(--ion-color-light);
}

ion-button:hover{
    --ion-color-base: var(--ion-color-secondary) !important;
    --ion-color-contrast: var(--ion-color-light) !important;
}

ion-card-title{
    color: var(--ion-color-primary);
}

ion-card-subtitle{
    color: var(--ion-color-primary);
}

#personal-card{
    display: grid;
    grid-template-columns: 30% 70%;
    height: auto;
}

#personal-header{
    grid-column-start: 1;
    grid-column-end: 3;
}

#card-left{
    padding-top: 16px;
}

#personal-subtitle{
    margin-top: 0px;
}

.skills{
    display: flex;
    justify-content: center;
}