

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">What's this</ion-title>
      </ion-toolbar>
    </ion-header>
  
  <div class="container">
    <ion-card id="personal-card">

      <!-- <div id="personal-top"> -->
        <div id="card-left">
          <ion-grid>

            <ion-row>
              <img height="245vh" width="250vw" src="../../assets/images/me.jpg">
            </ion-row>

          </ion-grid>
        </div>


        <div id="card-right">

          <ion-card-header id="personal-header">
            <ion-card-title> Hi, I'm Annah</ion-card-title>
            <ion-card-subtitle id="personal-subtitle"> doer of nothings</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Hi, I like doing things. I do a lot of things but I also do a little of things,
            I'm sleepy right now. 
          </ion-card-content>

          <ion-card-content id="info-list">
            <div class="category">Age</div>
            <div>26</div>

            <div class="category">Email</div>
            <div>annahworks@gmail.com</div>

            <div class="category">Location</div>
            <div>Southern California</div>

            <div class="category">Education</div>
            <div>Physics BS, Cal Poly Pomona</div>

          </ion-card-content>
          
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <div class="category">
                  Social Links
                </div>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-icon name="logo-linkedin"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>

        </div>
      <!-- </div> -->
      
    </ion-card>

    <ion-button id="download-resume" size="medium" color="light">
      <ion-icon name="download"></ion-icon> DOWNLOAD RESUME
    </ion-button>
  
    <div class="section">


      <app-experience></app-experience>
    </div>
  </div>

  </ion-content>