ion-content{
    --padding-top: 3rem;
    --background: var(--ion-color-light);
}
#download-resume{
    align-self: center;

    width: 200px;
}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

ion-button:hover{
    --ion-color-base: var(--ion-color-primary) !important;
    --ion-color-contrast: var(--ion-color-light) !important;
}

#info-list{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
}

ion-button{
    --ion-color-contrast: var(--ion-color-primary) !important;
}

ion-card-title{
    color: var(--ion-color-primary);
}

ion-card-subtitle{
    color: var(--ion-color-primary);
}

#personal-card{
    display: grid;
    grid-template-columns: 30% 70%;
    height: auto;
    width: 750px;
    align-self: center;
}



#personal-header{
    grid-column-start: 1;
    grid-column-end: 3;
}

#card-left{
    padding-top: 16px;
}

#personal-subtitle{
    margin-top: 0px;
}

.section{
    //display: flex;
    //justify-content: center;
    margin-top: 25px;
}

.category{
    color: var(--ion-color-primary);
    grid-column-end: 2;
}