<div class="container">
  <!-- Old title header -->
  <!-- <div id="title">
    Title
  </div> -->

  <ion-card>


    <ion-grid>

      <div id="info">
        <ion-row>

          <ion-card-subtitle>
            <ion-col></ion-col><ion-col></ion-col>
            <!-- This is where icon goes -->
            <ion-col>
              <ion-icon name="person"></ion-icon>
            </ion-col>

            <ion-col>
              <div class="heading">Employer</div>
            </ion-col>

            <ion-col></ion-col><ion-col></ion-col>
          </ion-card-subtitle>

        </ion-row>

        <ion-row>

          <ion-card-subtitle>
            <ion-col></ion-col><ion-col></ion-col>
            <!-- This is where icon goes -->
            <ion-col>
              <ion-icon name="receipt"></ion-icon>
            </ion-col>

            <ion-col>
              <div class="heading">Dates worked</div>
            </ion-col>

            <ion-col></ion-col><ion-col></ion-col>
          </ion-card-subtitle>

        </ion-row>
      </div>
      

      <ion-row>
        <ion-col>
          <div class="des">
            This defines the default behavior for how flex items are laid out along the cross axis on the current line. Think of it as the justify-content version for the cross-axis (perpendicular to the main-axis).
          </div>
      </ion-col>
      
      </ion-row>
      
      
    </ion-grid>


  </ion-card>
</div>