.heading{
    display: inline;
    color: var(--ion-color-secondary);
}

#date{
    margin-top: 1rem;
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: medium;
}

#employer{
    margin-top: 0.30rem;
    font-size: xx-large;
    color: var(--ion-color-primary);
}

#title{
    color: var(--ion-color-primary);
    margin-top: 0.75rem;
}

ion-card{
    height: 300px;
    max-width: 400px !important;
    margin-inline-start: 0rem;
    border-top: 8px solid black;
    margin: 0;
}


.des{
    color: black;
    //padding-left: 1rem;
    margin: 1.5rem;
    line-height: 1.5;
}

.info{
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/* Old title header*/

// #title{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     top: 30px;
//     z-index: 2;
//     margin-left: 50px;

//     height: 35px;
//     width: 150px;
//     background-color:var(--ion-color-primary);
//     color: var(--ion-color-light);
// }